<!DOCTYPE html>
<title>Label Example</title>
{% with messages = get_flashed_messages(with_categories=true) %} {% if messages %}
<ul class="flashes">
  {% for category, message in messages %}
  <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
    {% if category == 'danger' %}
    <strong>Error:</strong> {{message}}
    {% elif category == 'warning' %}
    <strong>Warning:</strong> {{message}}
    {% elif category == 'success' %}
    <strong>Success:</strong> {{message}}
    {% endif %}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {% endfor %}
</ul>
{% endif %} {% endwith %} {% block body %}{% endblock %}
